.header{
    background-color: rgba(78, 200, 22, 1);
    color: white;
}

.game__table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: tomato;
}

.game__table-item{ /*Game Block*/
    width: 60px;
    height: 60px;
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    border: white 4px outset;    
}
.game__table-item a{
    color: black;
}
.game__table-item:hover{
    background-color: rgba(78, 200, 22, 1);    
    border: white 4px inset; 
}