
.gradient-black{
    background-color: rgba(0, 0, 0, 0.4);
}

.header{
    background-image: url(../img/header_fon.jpg);
    background-size: cover;
    background-position: -10px;
    color:white;
}

.header__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 70px 0;
}

.header__title h4{
    color: white;
}

#btn_demos{
    margin-top: 50px;
    padding: 15px 30px 15px 30px;
    font-weight: 500;
    border: white 2px solid;
    color: white;
    transition: all 0.3s;
}
#btn_demos:hover{
    background-color: white;
    color: rgb(100, 100, 100)
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 30px 0 30px 0;
}

.navbar__links{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    font-size: 15px;
    font-weight: 200;
    padding-right: 20px;
}

.navbar__links i::before{
    font-size: 20px;
}

.navbar__link{
    margin: 0 15px 0 15px;
}

.navbar__link a{
    color: white;
}

.navbar__link:hover a{

    color: rgb(200, 200, 200);
    outline: none;
    text-decoration: none;
    border: 0px; 
}

 /* CONTENT  */
/* .container{
} */

.content{
    padding: 30px 0 30px 0;
}

.content__title{
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
    text-align: center;
}
.content__title h1,h2,h3,h4,h5,h6{
    margin: 10px 0 10px 0;
}
.content__title h1,h4{
    color: rgb(100,100,100);
}
.content__portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img{
    display: block;
    position: relative;
    width: 250px;
    height: 350px;
    margin: 10px;
    overflow: hidden;
    transition: all 0.6s;
}

.img img{
    width: 100%;
    position: absolute;
    transition: all 0.6s;
}

.img:hover img{
    width: 105%;
    transition: all 0.6s;
}

.img__gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50%;
    opacity: 0;
    color: white;
    transition: all 0.6s;   
}

.img__gradient_title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: min-content;
    height: min-content;
    padding: 10px 10px 10px 10px;
    border: white 2px solid;
    border-radius: 0.5em;
    transition: all 0.4s;
}

.img__gradient_title h4{
    font-size: 20px;
    font-weight: 500;
    color:white;
}

.img__gradient:hover{
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

.footer{
    padding: 30px 0 30px 0;
    font-size: 13px;
    color: rgb(100, 100, 100);
    background-color: black;
}

.footer__icons i::before{
    font-size: 20px;
    margin: 8px;
    color: rgb(100, 100, 100);
}
