body{
    margin: 0px;
    background: rgb(10, 20, 70);
}
.container{
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
.pd-1{
    padding: 3px;
}
/* ************************ */
.hidden{
    display: none;
}
.header{
    background: rgba(0, 0, 0, .5);
    padding: 10px;
}
.header__main{
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todolist{
    width: min-content;
    height: 200px;
}
.todolist__draft{
    width: 200px;
    border: black 2px solid;
}
.todolist__now{
    width: 200px;
    border: black 2px solid;
}
.hover:hover{
    border: green 2px solid;
}
.todolist__history{
    width: 200px;
    border: black 2px solid;
}
/* ************** */
.btn{
    width: min-content;
    padding: 10px;
    border-radius: 10px;
    border: black 2px solid;
    color: white;
    font-size: 15px;
    font-weight: 600;
    outline: none;
}
.add{
    background-color: rgb(50, 150, 50);
}
.add:hover{
    border: white 2px solid;
    color: white;
    font-size: 16px;
}
.draft_item , .now_item{
    width: 100%;
    border-radius: 0;
    font-size: 40px;
    padding: 0px;
    color: green;
    background: black;
}
.list__item{
    border: black 2px solid;
    margin: 5px 0px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    white-space: wrap;  
}
.item_text{
    padding: 5px;
    font-size: 16px;
}
.item_btns{
    display: flex;
    justify-content: flex-end;
    border-top: rgb(129, 129, 129) 1px solid;
    padding: 5px;
}
.btn_item{
    border: black 1px solid;
    border-radius: 5px;
    margin: 2px;
    width: min-content;
    font-weight: 600;
    padding: 5px;
}
.ok{
    background: rgb(50, 180, 50);
}
.edit{
    background: rgb(180, 180, 50);
}
.delete{
    background: rgb(180, 50, 50);
}