.testbr{
    border: red 2px solid;
}

.header{
    background-color: url(../img/Desert.jpg);
}

.nav_lang_item img{
    width: 30px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav_bar{
    display: flex;
    flex-direction: row;
    padding: 5px 40px 5px 40px;
}

.nav__item{    
    list-style-type: none;
    margin: 10px 20px 10px 20px;
}

.nav__item a{
    color:white;
    transition: all 0.2s;
}

.nav__item a:hover{
    text-decoration: none;   
    color: rgb(200 , 200, 200);
    padding-bottom: 20px; 
    border-bottom: red 2px solid;
}
